<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>leartaggenerator</title>
    <% if (htmlWebpackPlugin.options.appModules) { %>
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.appModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
